body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FCFDF2;
}

p {
    font-family: 'Andika', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Prosto One', cursive;
}

.btn-p {
    padding: 5px 30px;
}

.vertical-align {
    transform: rotate(90deg);

}

.box-shadow-lg {
    box-shadow: 2px 2px 3px 0px rgb(59, 59, 59);
}

.chatbox-btn {
    padding: 15px 20px;
    border-radius: 100%;
    border-bottom-right-radius: 0px;
    background-color: #2447e6;
    font-size: 1.1rem;
    font-weight: bold;
}




/* hero and nav section css */
#herosection {
    background-color: #FCFDF2;
    height: 100vh;
}

.container-fluid-hero {
    padding: 1% 8%;
}

#herosection ul li {
    font-family: 'Andika', sans-serif;
}

.active {
    border-bottom: 2px solid black;
}

.heroheader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.hedreimage {
    width: 60%;
    height: 80vh;
    /* border: 2px solid red; */
    position: relative;
}

.imageh1 {
    width: 50%;
    height: 50%;
}

.image1 {
    position: absolute;
    top: 0;
    z-index: 2;
}

.image2 {
    position: absolute;
    top: 43%;
    left: 45%;
}

.heder-section {
    width: 40%;
    margin-left: 20px 100px;
    text-align: left;

}


.heder-section p {
    width: 70%;
}

.get-startbtn {
    padding: 7px 30px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    outline: none;
}

/* why we are section  */
#whyweare {
    margin-top: 60px;

}

.imagecontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imagecontainer img {
    width: 35%;
    height: 65vh;
    border-radius: 10px;
    box-shadow: 5px 6px 8px 1px grey;
}

.text-img {
    width: 40%;
}


/* our services section  */
#ourservices {
    margin-top: 100px;
}

.service-element {
    height: 170px;
    margin: 20px;

}

.services-title {
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 8px;
}

.serviceimage {
    width: 100%;
    height: 150px;
}

/* cards  */
.card {
    height: 100%;
    padding: 40px 20px;
    box-shadow: 5px 5px 8px 1px rgb(114, 111, 111);
    border-radius: 15px;
}

.card-title {
    color: #e25842;
}

/* our project section */
#projects {
    margin-top: 70px;
}

.projects-card {
    margin-top: 100px;
}

.padding-0 {
    padding: 0px 0px;
}

.card-img-top {
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* how it work sections  */
#howitwork {
    margin: 10%;
}

.series {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.series .num {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    color: #e25842;
    border: 1px solid black;
    border-radius: 100%;
    background: white;
    box-shadow: 2px 2px 3px 0px rgb(59, 59, 59);
}

.work-text p {
    font-size: 1.1rem;
}

/* what iur client says */

.carousel-dots button {
    width: 5px;
    height: 15px;
    border-radius: 100%;
}

/* testimoanals row */
.testimonal-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonal-row .card {

    width: 40%;
}

.carousel-cnotrol {
    width: 45px;
    height: 45px;
    margin-top: 20px;
    border-radius: 50%;
    margin: 0 auto;
}

.carousel-item {
    border: none;
}

#carouselExampleControlsNoTouching .card {
    box-shadow: none;
    border: none;
    border-radius: none;
    background-color: rgb(235, 235, 235);
}

/* contact us section  */
.conatctus-container {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    /* display: flex;
    justify-content: space-evenly; */
    padding: 2% 3%;
    /* background-color: #e25842; */
}

.sidebar {
    /* width: 30%; */
    /* background-color: blue; */
}

.conatctdiv {
    width: 60%;
    border: 3px solid black;
    border-radius: 20px;
    margin: 10px 20px;
    padding: 20px 60px;
}

.conatact-form form {
    display: flex;
    flex-direction: column;

}

.conatact-form form input {
    margin: 10px 20px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
}

.conatact-form form button {
    margin-top: 20px;
    text-align: center;
}

/* visit us map section  */
.map-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.map {
    width: 70%;
}

.map iframe {
    width: 100%;
    height: 250px;
}

/* footer section  */
#footerid {
    margin-top: 70px;
    background-color: #adadaa;
}

#footerid .footer-container {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footerlinks ul li {
    margin: 5px 10px;
    list-style: none;
}

.logocard img {
    width: 90px;
}


/* making rersponsive  */
@media only screen and (max-width:780px) {
    .width-100 {
        width: 100%;
    }

    .text-align-center {
        text-align: center;
    }

    .flex-direction-column {
        flex-direction: column;
    }


    .hedreimage {
        height: 40vh;
    }

    .heder-section {
        margin-top: 20px;
        text-align: center;
    }



    .hedreimage .image1 {
        position: static;
        width: 100%;
        height: 100%;
        box-shadow: none;
    }

    .hedreimage .image2 {
        display: none;
    }

    .imagecontainer {
        flex-direction: column;
    }

    .imagecontainer img {
        width: 90%;
        box-shadow: none;
    }

    .text-img {
        width: 100%;
        text-align: center;
    }

    .carousel-cnotrol {
        margin: 2px 16px;
    }

    /* conatact us  */
    #contact-us {}

    .sidebar {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }

    .side-element {
        margin: 1px 10px;
    }

    .conatctdiv {
        padding: 10px 30px;
        width: 90%;
    }

    /* map section  */
    .map-container {
        padding-top: 30px;
    }
}

@media only screen and (max-width:500px) {

    .map-container {
        padding-top: 100px;
    }
}